[openvpn-netfilter]
# This section contains tweakable items that you may / may not need.
# If the defaults from the sample are sufficient, then you can get by
# without any config file for netfilter_openvpn.  However, mozdef and
# iamvpnlibrary will need theirs.
#
# Path to executables
; iptables_executable = /sbin/iptables
; ipset_executable = /usr/sbin/ipset

# Script locking, so all work completes atomically with respect to
# other invocations of this script
# What external lock file to use:
; LOCKPATH = /var/run/openvpn_netfilter.lock
# Number of seconds (integer) per try to lock the file
; LOCKWAITTIME = 2
# Number of times to try to lock the file
; LOCKRETRIESMAX = 10


[openvpn-netfilter-sudo]
# sudo_users is a list of users whose cert CN may become another user.
# You probably want to leave this empty, as a general rule, and only add
# people to it when needed for incident testing.
# sudo_users = [  ]
sudo_users = [ 'powerful-person@yourplace.com' ]

# sudo_username_regexp is a string, a regexp, that a sudo-allowed person
# should type in to become some other user.  The gathering parenteses are
# used to subselect from the string, and to let us flag what subsection of
# the string is to be used.  This allows us to discriminate / lightly
# filter mistakes.  That is, it prevents us from activating 'sudo to yourself'
# use cases.
sudo_username_regexp = ^su-to-(\S+)$


[testing]
# The 'testing' section contains information for the unit tests.
# A production instance can/should empty this.
#
# A test IP for someone connecting in.
# You want this to be something that would never interfere with your
# openvpn server or test box.  For demo purposes, I leave a Class E
# reserved address here to avoid collisions.
client_ip = 240.1.2.3
# We also need a username for someone who's valid / would get ACLs.
# As a reminder, this is pulled in via iamvpnlibrary methods.
client_username = someone@yourcompany.com
