[openvpn-netfilter]
# This section contains tweakable items that you may / may not need.
# If the defaults from the sample are sufficient, then you can get by
# without any config file for netfilter_openvpn.
#
# Path to executables
; iptables_executable = /sbin/iptables
; ipset_executable = /usr/sbin/ipset

# Script locking, so all work completes atomically with respect to
# other invocations of this script
# What external lock file to use:
; LOCKPATH = /var/run/openvpn_netfilter.lock
# Number of seconds (integer) per try to lock the file
; LOCKWAITTIME = 2
# Number of times to try to lock the file
; LOCKRETRIESMAX = 10

syslog-events-send = False
syslog-events-facility = local5
