# The install here is more for your testing venv than anything.  I mean, really, 'just use the nftables that ships with the system' because you're interacting with the system, right?
nftables @ git+https://git.netfilter.org/nftables@v1.1.3#subdirectory=py

# Strictly speaking, THIS module does not require python-ldap, but it is needed by the internal library iamvpnlibrary.
#python-ldap==3.4.3
######################
# python-ldap dependencies
#pyasn1==0.6.1
#pyasn1_modules==0.4.2
